body {
    background-color: #f2f2f2;
  }
  
  .login-container {
    margin-top: 80px;
  }
  
  .login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .login-form label {
    color: #555;
  }
  
  .login-form input[type="text"],
  .login-form input[type="senha"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .login-form button:hover {
    background-color: #1f1f1f;
  }
  
  .login-form #error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  img {
    width: 100%; /* Define a largura da imagem para preencher todo o espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 500px; /* Define a largura máxima da imagem */
  }
  
  /* 2 pagina */
  
  .logo-class {
      width: 1000px; /* Exemplo de largura */
      height: 100px; /* Manter a proporção da imagem */
      text-align: center;
  }
  
  .container-inicial {
    padding: 20px;
    border-radius: 100;
    text-align: center;
    margin-left: 660px;
    margin-top: 50px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width:150px;
    text-align: center;
     
  }
  
  .button-group button:hover {
    background-color: #1f1f1f;
  }
  
  /* 3 pagina */
  
  /* styles.css */
  
  /* Estilos gerais */
  
  .profil-container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }
  
  /* Estilos do cabeçalho do perfil */
  .perfil-header {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .foto-perfil {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
  }
  
  h1 {
      font-size: 24px;
      color: #333;
  }
  
  /* Estilos dos detalhes do perfil */
  .detalhes {
      text-align: left;
  }
  
  .detalhes p {
      font-size: 16px;
      color: #555;
      margin: 8px 0;
  }
  
  .detalhes strong {
      color: #333;
  }
  
  /* Estilos do botão */
  button {
      display: block;
      width: 110px;
      padding: 10px;
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
  }
  
  button:hover {
      background-color: #141414;
  }
  
  
  /* styles.css */
  
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
  }
  
  .dashboard-container {
      max-width: 1200px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }
  
  h1 {
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-bottom: 30px;
  }
  
  .info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
  }
  
  .reservations,
  .tables {
      flex: 1;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
  }
  
  h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
  }
  
  p {
      font-size: 18px;
      color: #555;
      margin: 8px 0;
  }
  
  .charts {
      margin-bottom: 30px;
  }
  
  .chart-container {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
  }
  
  .reservations-table {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
  }
  
  table th,
  table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }
  
  table th {
      background-color: #f2f2f2;
  }
  
  table tbody tr:hover {
      background-color: #f0f0f0;
  }